header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: rgba(102, 102, 102);
    color: white;

    .logo {
        font-size: 10px; // Ajusta el tamaño según sea necesario
    font-weight: bold;
    background-image: url('/assets/images/login3.png');
    background-size: cover;
    background-position: center;
    width: 70px; // Ajusta el tamaño del contenedor según sea necesario
    height: 70px; // Ajusta el tamaño del contenedor según sea necesario
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; // Ajusta el color del texto si es necesario para que sea visible sobre la imagen
    text-align: center;
    }
}


nav {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 15px;

            a {
                color: white;
                text-decoration: none;
                font-size: 18px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

footer {
    padding: 10px 20px;
    background: rgba(102, 102, 102);
    color: white;
    text-align: center;

    .social-icons {
        margin-top: 10px;

        a {
            margin: 0 10px;
            color: white;
            text-decoration: none;
            font-size: 20px;

            &:hover {
                color: #d3d3d3;
            }
        }
    }
}