<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">PRODUCTOS</h5>
  </div>
  <div body>
    <div class="row">
      <div class="col-md-8 mb-3"></div>
      <div class="col-md-4 text-end d-flex flex-row-reverse mb-3">
        <div class="mr-3">
          <new-button (click)="openModal()">
          </new-button>
        </div>
        <app-columns-select
          [(settings)]="settings"
          [leftList]="true"
        ></app-columns-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <div class="table-responsive">
            <ng2-smart-table
              [settings]="settings"
              [source]="data"
              (edit)="edit($event.data)"
            (delete)="showDeleteAlert($event.data)"
            ></ng2-smart-table>
          </div>
          <app-pagination
            [params]="params"
            [totalItems]="totalItems"
          ></app-pagination>
        </div>
      </div>
    </div>
  </div>
</app-card>

<div footer *ngIf="validButton">
  <div class="d-flex justify-content-center">
    <div class="m-3">
      <button type="button" class="btn btn-danger active" (click)="close()">
        Cancelar
      </button>
    </div>
  </div>
</div>
