<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">RESERVACIÓNES</h5>
  </div>
  <div body>
    <div class="row">
      <div class="row" *ngIf="onSelect">
        <div class="col-md-6">
          <form class="form-material" [formGroup]="form">
            <form-field [control]="form.get('selecAloja')">
              <ngx-select [form]="form" control="selecAloja" (fetchItems)="getAccomodation($event)"
                [data]="accomodations" bindLabel="idName" label="Nombre del Alojamiento" value="id"
                (change)="onChangeAccomodation($event)" [readonly]="false"></ngx-select>
            </form-field>
          </form>
        </div>
        <div class="col-md-2 mb-3"></div>
        <div class="col-md-4 text-end d-flex flex-row-reverse mb-3">
          <!--<div class="mr-3">
          <new-button (click)="openModal()">
          </new-button>
        </div>
        <app-columns-select [defaultColumns]="12" [(settings)]="settings" [leftList]="true"></app-columns-select>-->
          <div class="mr-3">
            <button type="button" containerclass="tooltip-style"
              class="btn btn-warning active d-flex justify-content-center align-items-center ml-3"
              (click)="openModalPDF()">Reporte PDF&nbsp;&nbsp;<i class="fas fa-file-pdf bx-sm"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2" *ngFor="let habitacion of bedroom">
        <div class="card mb-4 shadow-sm" [ngClass]="{
          'bg-success1': habitacion.estado === 'LIBRE',
          'bg-warning1': habitacion.estado === 'SUCIO',
          'bg-danger1': habitacion.estado === 'OCUPADO'
        }">
          <div class="card-header">
            <h3 class="fw-bold">{{ habitacion.preferencias }}</h3>
          </div>
          <div class="card-body">
            <div class="row justify-content-center align-items-center">
              <div class="col-md-12 text-center">
                <h1 class="fs-1">
                  <span class="badge rounded-pill" [ngClass]="{
          'text-bg-info': habitacion.preferencias
        }">{{ habitacion.noHabitacion }}</span></h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <h3>{{ habitacion.estado }}</h3>
              </div>
            </div>
            <div class="row justify-content-center align-items-center">
              <button type="button" class="btn btn-success"
                (click)="openModalCreate(habitacion.id, habitacion.preferencias)" [disabled]="habitacion.estado === 'OCUPADO' || habitacion.estado === 'SUCIO'">Reservar&nbsp;&nbsp;<i
                  class="fas fa-plus-circle"></i></button>
              <button type="button" class="btn btn-info" (click)="openModalList(habitacion.id)">Detalles&nbsp;&nbsp;<i
                  class="fas fa-list"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row">
      <div class="col-md-12">
        <div [class]="loading ? 'table-loading' : ''">
          <div class="table-responsive">
            <ng2-smart-table [settings]="settings" [source]="data" (edit)="edit($event.data)"
              (delete)="showDeleteAlert($event.data)"></ng2-smart-table>
          </div>
          <app-pagination [params]="params" [totalItems]="totalItems"></app-pagination>
        </div>
      </div>
    </div>-->
  </div>
</app-card>
