<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? "Editar" : "Nuevo" }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <!--<div class="col-md-6">
          <form-field [control]="form.get('alojamientoId')">
            <ngx-select
              [form]="form"
              control="alojamientoId"
              (fetchItems)="getAccomodation($event)"
              [data]="accomodations"
              bindLabel="nombre"
              label="Nombre del Alojamiento"
              value="id"
              (change)="onChangeAccomodation($event)"
              [readonly]="false"
            ></ngx-select>
          </form-field>
        </div>-->
        <div class="col-md-6">
          <form-field [control]="form.get('productoId')">
            <ngx-select
              [form]="form"
              control="productoId"
              (fetchItems)="getProducts($event)"
              [data]="products"
              bindLabel="name"
              label="Nombre del Producto"
              value="id"
              (change)="onChangeProducts($event)"
              [readonly]="false"
            ></ngx-select>
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field label="Salida" [control]="form.get('salida')">
            <input
              type="text"
              class="form-control"
              formControlName="salida"
              (change)="onChangeCant($event)"
            />
          </form-field>
        </div>
        <div class="col-md-3">
          <form-field label="Stock" [control]="form.get('stock')">
            <input
              type="text"
              class="form-control"
              formControlName="stock"
            />
          </form-field>
        </div>
      </div>
    </form>
  </div>
  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button
          [type]="'button'"
          [disabled]="form.invalid"
          (confirm)="confirm()"
        ></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
