<app-modal>
  <div header>
    <h5 class="modal-title">{{ edit ? "Editar" : "Nueva" }} {{ title }}</h5>
  </div>
  <div body>
    <form class="form-material" [formGroup]="form">
      <div class="row">
        <div class="col-md-6">
          <form-field label="No. Habitación" [control]="form.get('noHabitacion')">
            <input type="text" class="form-control" formControlName="noHabitacion" />
          </form-field>
        </div>
        <div class="col-md-6">
          <form-field [control]="form.get('alojamientoId')">
            <ngx-select [form]="form" control="alojamientoId" (fetchItems)="getAccomodation($event)"
              [data]="accomodations" bindLabel="nombre" label="Nombre del Alojamiento" value="id"
              (change)="onChangeAccomodation($event)" [readonly]="false"></ngx-select>
          </form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pt-4">
          <form-field label="Preferencias" [control]="form.get('preferencias')">
            <ng-select formControlName="preferencias" [searchable]="false" class="form-control" [clearable]="false">
              <ng-option value="SIMPLE">SIMPLE</ng-option>
              <ng-option value="BAÑO PRIVADO">BAÑO PRIVADO</ng-option>
            </ng-select>
          </form-field>
        </div>
        <div class="col-md-6 pt-4">
          <form-field label="Estado" [control]="form.get('estado')">
            <ng-select formControlName="estado" [searchable]="false" class="form-control" [clearable]="false">
              <ng-option value="OCUPADO">OCUPADO</ng-option>
              <ng-option value="LIBRE">LIBRE</ng-option>
              <ng-option value="SUCIO">SUCIO</ng-option>
            </ng-select>
          </form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pt-4">
          <form-field label="Precio Temporal" [control]="form.get('precioTemporal')">
            <input type="text" class="form-control" formControlName="precioTemporal" />
          </form-field>
        </div>
        <div class="col-md-6 pt-4">
          <form-field label="Precio Noche" [control]="form.get('precioNoche')">
            <input type="text" class="form-control" formControlName="precioNoche" />
          </form-field>
        </div>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex justify-content-center">
      <div class="m-3">
        <confirm-button [type]="'button'" [disabled]="form.invalid" (confirm)="confirm()"></confirm-button>
      </div>
      <div class="m-3">
        <button type="button" class="btn btn-danger active" (click)="close()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-modal>
