<div class="min-vh-100 col-12 component-background">
    <div class="row justify-content-center">
      <div
        class="col-xl-7 col-lg-6 col-md-6 col-sm-12 account-pages justify-content-center">
        <div class="row justify-content-center">
          <div class="col-md-7 col-sm-12 col-lg-7 col-xl-7 card-shadow">
            <div class="card overflow-hidden">
              <div class="row">
                <div class="col-12 text-center primary-indep mt-1">
                  <h2 class="font-weight-bold">INICIAR SESIÓN</h2>
                </div>
              </div>
  
              <div class="card-body pt-0 m-4">
                <div class="mt-2">
                  <form
                    class="form-material"
                    [formGroup]="loginForm"
                    (ngSubmit)="onSubmit()">
                    <div class="row p-2">
                      <form-field
                        [showRequiredMark]="false"
                        [control]="loginForm.get('email')"
                        label="Usuario">
                        <input
                          type="text"
                          class="form-control input-wrapper"
                          formControlName="email" />
                        <svg
                          [ngClass]="{
                            claseUser1: loginForm.get('email')?.invalid,
                            claseUser2: loginForm.get('email')?.valid,
                            'input-icon': deleteClass
                          }"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 512 512">
                          <path
                            d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                        </svg>
                      </form-field>
                    </div>
                    <div class="row p-2">
                      <form-field
                        [showRequiredMark]="false"
                        [control]="loginForm.get('password')"
                        label="Contraseña">
                        <input
                          [type]="showPassword ? 'text' : 'password'"
                          class="form-control input-wrapper"
                          formControlName="password" />
                        <svg
                          [ngClass]="{
                            clasePassword1: loginForm.get('password')?.invalid,
                            clasePassword2: loginForm.get('password')?.valid,
                            'input-icon': deleteClass
                          }"
                          xmlns="http://www.w3.org/2000/svg"
                          height="1em"
                          viewBox="0 0 448 512">
                          <path
                            d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z" />
                        </svg>
                        <i
                          (click)="showPassword = !showPassword"
                          [ngClass]="{
                            'input-icon-eye2': loginForm.get('password')?.invalid,
                            'input-icon-eye1': loginForm.get('password')?.valid,
                            'input-icon-eye': deleteClass
                          }"
                          [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                          id="togglePassword"></i>
                      </form-field>
                    </div>
                    <div class="mt-3 d-grid p-1">
                      <button
                        [ngClass]="{ loading: loading }"
                        class="btn btn-sm"
                        type="submit"
                        [disabled]="loginForm.invalid">
                        {{
                          loading
                            ? 'Iniciando Sesi&oacute;n'
                            : 'Iniciar Sesi&oacute;n'
                        }}
  
                         <img width="20 px" *ngIf="loading" src="assets/images/loader-button.gif" alt="loading" />
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--<section>
  <div class="min-vh-100 col-12 component-background">
    <div class="row justify-content-center">
      <div class="row account-pages">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto account-pages justify-content-center card-shadow">
          <div class="card overflow-hidden">
            <div class="card-header pb-0 text-start">
              <h4 class="font-weight-bolder text-center">INICIAR SESIÓN</h4>
            </div>
            <div class="card-body mt-4">
              <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <form-field [showRequiredMark]="false" [control]="loginForm.get('email')">
                    <div class="form-group">
                      <input type="text" class="form-control input-wrapper" formControlName="email"
                        placeholder="Correo Electrónico" />


                    </div>
                  </form-field>
                </div>
                <div class="mb-3">
                  <form-field [showRequiredMark]="false" [control]="loginForm.get('password')">
                    <div class="form-group">
                      <div class="input-group mb-4">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control input-wrapper"
                          formControlName="password" placeholder="Contraseña" type="text">
                        <svg [ngClass]="{
                            clasePassword1: loginForm.get('password')?.invalid,
                            clasePassword2: loginForm.get('password')?.valid,
                            'input-icon': deleteClass
                          }" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                          <path
                            d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z" />
                        </svg>
                        <span class="input-group-text"><i (click)="showPassword = !showPassword" [ngClass]="{
                          'input-icon-eye2': loginForm.get('password')?.invalid,
                          'input-icon-eye1': loginForm.get('password')?.valid,
                          'input-icon-eye': deleteClass
                        }" [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" id="togglePassword"></i></span>
                      </div>
                    </div>
                  </form-field>
                </div>
                <div class="text-center">
                  <button [ngClass]="{ loading: loading }" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0"
                    type="submit" [disabled]="loginForm.invalid">
                    {{
                          loading
                            ? 'Iniciando Sesi&oacute;n'
                            : 'Iniciar Sesi&oacute;n'
                        }}

                    <img width="20 px" *ngIf="loading" src="assets/images/loader-button.gif" alt="loading" />
                  </button>

                </div>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
