<app-card [header]="true">
  <div class="ch-content" header>
    <h5 class="title">RESERVACIÓNES</h5>
  </div>
  <div body class="shadow-none">
    <div class="-mt-8 p-4" *ngFor="let reser of reserv">
      <!--<div class="card-header">
        {{reser.clientes.nombre}}
      </div>-->
      <div class="">
        <div class="row">
          <div class="col-md-2">
            <h3 class="card-title"><strong>Nombre: </strong></h3>
          </div>
          <div class="col-md-4 text-right">
            <h3 class="card-title">{{reser.clientes.nombre}} {{reser.clientes.paterno}} {{reser.clientes.materno}}</h3>
          </div>
          <div class="col-md-2">
            <h3 class="card-title"><strong>Habitación: </strong></h3>
          </div>
          <div class="col-md-4 text-right">
            <h3 class="card-title">{{reser.habitaciones.noHabitacion}} {{reser.habitaciones.preferencias}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3 class="card-title"><strong>Hora Entrada</strong></h3>
          </div>
          <div class="col-md-3 text-right">
            <h3 class="card-title">{{reser.horaEntrada}}</h3>
          </div>
          <div class="col-md-3">
            <h3 class="card-title"><strong>Hora Programada</strong></h3>
          </div>
          <div class="col-md-3 text-right">
            <h3 class="card-title">{{reser.horaProgramada}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3 class="card-title"><strong>Administrador</strong></h3>
          </div>
          <div class="col-md-3 text-right">
            <h3 class="card-title">{{reser.encargados.nombre}} {{reser.encargados.paterno}} {{reser.encargados.materno}}</h3>
          </div>
          <div class="col-md-3">
            <h3 class="card-title"><strong>Hora Salida</strong></h3>
          </div>
          <div class="col-md-3 text-right">
            <h3 class="card-title">{{reser.horaSalida}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3 class="card-title"><strong>Tiempo</strong></h3>
          </div>
          <div class="col-md-3  text-right">
            <h3 class="card-title">{{reser.tiempo}}</h3>
          </div>
          <div class="col-md-3">
            <h3 class="card-title"><strong>Cambio</strong></h3>
          </div>
          <div class="col-md-3  text-right">
            <h3 class="card-title">{{reser.cambio}}</h3>
          </div>
        </div>
        <div class="row pt-4 -mb-8">
          <div class="d-flex justify-content-around">
            <button type="button" containerclass="tooltip-style"
              class="btn btn-red btn-ms active d-flex justify-content-center align-items-center ml-3"
              (click)="showDeleteAlert(reserv[0])">Eliminar <i class="fas fa-trash-alt  ml-2" aria-hidden="true"></i></button>
            <button type="button" containerclass="tooltip-style"
              class="btn btn-yellow btn-ms active d-flex justify-content-center align-items-center ml-3"
              (click)="increase(reserv[0])">Aseo<i class="fas fa-broom  ml-2" aria-hidden="true"></i></button>
            <button type="button" containerclass="tooltip-style"
              class="btn btn-success btn-ms active d-flex justify-content-center align-items-center ml-3"
              (click)="sales(reserv[0])">Ventas<i class="fas fa-cart-plus  ml-2" aria-hidden="true"></i></button>
            <button type="button" containerclass="tooltip-style"
              class="btn btn-primary btn-ms active d-flex justify-content-center align-items-center ml-3"
              (click)="output(reserv[0])">Salida<i class="fas fa-hand-point-right  ml-2"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>
<div footer class="-mt-4" *ngIf="buttonCancel">
  <div class="d-flex justify-content-center">
    <div class="">
      <button type="button" class="btn btn-danger active" (click)="close()">
        Cancelar <i class="fas fa-ban ml-2"></i>
      </button>
    </div>
  </div>
</div>
